<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ panelTitle }}</h3>
      </div>
      <div class="panel-body">
  
        <div class="form-group" [class.has-error]="name.invalid && name.touched">
          <label for="name" class="control-label">Name</label>
          <input id="name" required type="text" class="form-control" name="name"
                 [(ngModel)]="employee.name" #name="ngModel">
          <span class="help-block" *ngIf="name.invalid && name.touched">
            Name is required
          </span>
        </div>
  
      <div class="form-group" [class.has-error]="emailControl.invalid">
        <label for="email" class="control-label">Email</label>
        <input id="email" [required]="contactPreferenceControl.value=='Email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" class="form-control" name="email"
                [(ngModel)]="employee.email" #emailControl="ngModel">
        <span class="help-block" *ngIf="emailControl.errors?.required">
          Email is required
        </span>
        <span class="help-block" *ngIf="emailControl.errors?.pattern">
          Email is Invalid
        </span>
      </div>
        
      <div class="form-group" [class.has-error]="phoneNumberControl.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input id="phoneNumber" [required]="contactPreferenceControl.value=='Phone'"
                #phoneNumberControl="ngModel" class="form-control" type="text"
                name="phoneNumber" [(ngModel)]="employee.phoneNumber">
        <span class="help-block" *ngIf="phoneNumberControl.errors?.required">
          Phone Number is required
        </span>
      </div>

          <div class="form-group" [class.has-error]="contactPreferenceControl.invalid && contactPreferenceControl.touched">
              <label class="control-label">Contact Preference</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input type="radio" required #contactPreferenceControl="ngModel" name="contactPreference" value="Email"
                  [(ngModel)]="employee.contactPreference">
                  Email
                </label>
                <label class="radio-inline">
                  <input type="radio" required #contactPreferenceControl="ngModel" name="contactPreference" value="Phone"
                  [(ngModel)]="employee.contactPreference">
                  Phone
                </label>
              </div>
              <span class="help-block" *ngIf="contactPreferenceControl.errors?.required && contactPreferenceControl.touched">
                contact Preference is required
              </span>
              Contact Preference Selected Value : {{ contactPreferenceControl.value }}
            </div>

            <div class="form-group" [class.has-error]="gender.invalid  && gender.touched">
              <label class="control-label">Gender</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input type="radio" name="gender" required #gender="ngModel"
                         value="Male" [(ngModel)]="employee.gender"> Male
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" required #gender="ngModel"
                         value="Female" [(ngModel)]="employee.gender"> Female
                </label>
              </div>
              <span class="help-block" *ngIf="gender.invalid">
                Gender is required
              </span>
            </div>

          <div class="form-group">
            <div class="form-control">
              <label class="checkbox-inline">
                <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive">Is Active
              </label>
            </div>
          </div>

          <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected">
          <label for="department" class="control-label">Department</label>
          <select id="department" required #department="ngModel"
                  name="department" [(ngModel)]="employee.department" appSelectValidator="select"
                  class="form-control">
            <option ngValue="select">Select Department</option> 
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{dept.name}}
            </option>
          </select>
          <span class="help-block"
                *ngIf="department.touched && department.errors?.defaultSelected">
            Department is required
          </span>
        </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="dateOfBirth">Date of Birth</label>
              <input id="dateOfBirth"  name="dateOfBirth" [(ngModel)]="employee.dateOfBirth"
                     class="form-control" type="text" bsDatepicker
                     [bsConfig]="datePickerConfig" />
            </div>
          </div>

          <div class="form-group">
            <label for="photoPath">Photo Path</label>
            <input id="photoPath" type="text" class="form-control"
                    name="photoPath" [(ngModel)]="employee.photoPath">
          </div>

          <div class="form-group">
            <button (click)="togglePhotoPreview()" class="btn btn-primary"
            *ngIf="employee.photoPath !=='' && employee.photoPath !== null">
              {{previewPhoto ? "Hide " : "Show " }} Preview
            </button>
          </div>

          <div class="form-group">
            <img [src]="employee.photoPath" height="200" width="200" 
            *ngIf="previewPhoto && employee.photoPath !=='' && employee.photoPath !== null"/>
          </div>

          <!-- <div class="form-group" [class.has-error]="password.touched && password.invalid">
            <label for="password" class="control-label">Password</label>
            <input id="password" required type="text" class="form-control"
                  name="password" [(ngModel)]="employee.password"
                  #password="ngModel">
            <span class="help-block"
                  *ngIf="password.touched && password.errors?.required">
              Password is required
            </span>
          </div>

          <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input name="confirmPassword" appConfirmEqualValidator="password" required
                  id="confirmPassword" type="text" class="form-control"
                  [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
            <span class="help-block"
                  *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
              Confirm Password is required
            </span>
            <span class="help-block"
            *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
              !confirmPassword.errors?.required">
              Password and Confirm Password does not match
            </span>
          </div> -->

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
      </div>
    </div>
    {{employeeForm.value | json}} 
    <br/>
    <br/>
    Our Employee Model : {{ employee | json}}
  </form>