<div class="form-group">
    <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm" />
</div>
<!-- <h1 *ngIf="dataFromChild">{{ dataFromChild?.name +' '+ dataFromChild?.gender }}</h1> -->
<div  *ngFor="let employee of filteredEmployees">
  <!-- <div (click)="onClick(employee.id)"> -->
      <app-display-employee [employee]="employee" [searchTerm]="searchTerm" 
      (notifyDelete)="onDeeleteNotification($event)">
        </app-display-employee>
  <!-- </div> -->
</div>
<div *ngIf="error">
  {{ error }}
</div>